@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Priscyla Macedo é formada em Sistemas de Informação pela Universidade Mogi das Cruzes - UMC</p>
<p>Cursou MBA em Arquitetura de Soluções pela Faculdade de Informática e Administração Paulista - FIAP</p>
