@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Priscyla Macedo<br />
    São Paulo, SP<br />
    <abbr title="Telefone"></abbr>
    (11)98019-3458
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:priscyla.macedo@gmail.com">priscyla.macedo@gmail.com</a><br />

</address>